[submodule "third_party/glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "includes/GNClib"]
	path = includes/GNClib
	url = https://github.com/cjatkinson422/GNClib.git
[submodule "third_party/nanosvg"]
	path = third_party/nanosvg
	url = https://github.com/memononen/nanosvg.git
[submodule "third_party/GNClib"]
	path = third_party/GNClib
	url = git@github.com:cjatkinson422/GNClib.git
[submodule "third_party/nanovg"]
	path = third_party/nanovg
	url = https://github.com/memononen/nanovg.git
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
